<!DOCTYPE html>
<html><head>
  <meta charset="utf8">
  <script src="js/libs/lodash.min.js" defer></script>
  <script src="js/libs/d3.v3.js" defer></script>
  <script src="js/libs/angular.min.js" defer></script>
  <script src="js/uri-templates.js" defer></script>
  <script src="js/gh-sunburst.js" defer></script>
  <link rel="stylesheet" href="css/style.css">
</head><body ng-app="gh.sunburst">
  <div ng-controller="ghSunburstController">
    URL: <input ng-model="repository.owner">/<input ng-model="repository.repo">
    <button ng-click="reloadTree()">Reload</button>
    <div ng-show="status == 'loading'">
      Loading...
    </div>
    <div ng-show="status == 'error'">
      An error occurred. Have a look at the WebDeveloper console.
    </div>
    <div ng-show="status == 'ready'">
      <sunburst hierarchy="extractedTree"></sunburst>
    </div>
  </div>
</body>
