<!DOCTYPE html>
<html><head>
  <meta charset="utf8">
  <script src="js/libs/lodash.min.js" defer></script>
  <script src="js/libs/d3.v3.js" defer></script>
  <script src="js/libs/angular.min.js" defer></script>
  <script src="js/uri-templates.js" defer></script>
  <script src="js/sunburst.js" defer></script>
  <script>
    if(document.location.hash == "#mock") {
      window.mock = true;
      document.write('<'+'script src="js/libs/angular-mocks.js" defer><'+'/script>');
      document.write('<'+'script src="js/mocks.js" defer><'+'/script>');
    }
  </script>
  <script src="js/gh-sunburst.js" defer></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<script>
document.write('<body ng-app="gh.sunburst' + (window.mock?'.mock':'') +'">');
</script>
  <div ng-controller="ghSunburstController" class="content ng-cloak">
    <form ng-submit="reloadTree()">
      URL: <input ng-model="repository.owner">/<input ng-model="repository.repo">
      <button type="submit">Reload</button>
    </form>
    <div ng-show="status == 'loading'">
      Loading...
    </div>
    <div ng-show="status == 'error'">
      An error occurred. Have a look at the WebDeveloper console.
    </div>
    <div>
      <ul class="pathWidget" ng-class="{fileSelected: hoveredElement.type == 'blob'}">
        <li></li><li ng-repeat="pathFragment in hoveredElement.path">
          {{pathFragment}}
        </li>
      </ul>
      <form>
        <label><input type="radio" ng-model="valueDimension" name="valueDimension" value="size">File size</label>
        <label><input type="radio" ng-model="valueDimension" name="valueDimension" value="count">Count</label>
      </form>
      <sunburst hierarchy="extractedTree" value-function="valueFunction" hovered-element="hoveredElement"></sunburst>
      <div class="objectDetails">
        name: {{hoveredElement ? (hoveredElement.name | json) : "nothing hovered"}}<br>
        sha: {{hoveredElement ? (hoveredElement.sha | json) : "nothing hovered"}}<br>
        type: {{hoveredElement ? (hoveredElement.type | json) : "nothing hovered"}}<br>
      </div>
    </div>
  </div>
</body>
